body {
    background-color: salmon;
}
a {
    color: #000;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
} 

.day__link {
    color: darkslategray;
}

.day__title{
    background-color: darkcyan;
}

.main {
    display: block;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.mainHeader {
    color: darkblue;
}

h3 {
    color: brown;
}

.nav__item {
    display: block;
    margin:0 16px;
}
.nav__link {
    color: rgb(4, 39, 29);
    text-decoration: none;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 16px;
}

p {
    color: rgba(3, 0, 46, 0.836);
}


@media (max-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
    }
    a {
        color: olive;
    }
}